.notes {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__header {
    padding: 5px 10px;
    background-color: #1a75b5b5;
    color: #fff;
  }
  &__content {
    padding: 10px;
    flex-grow: 1;
  }
}

.add-new-note {
  position: sticky;
  right: 0;
  left: 100%;
  bottom: 5px;
  z-index: 40;
  &--not-active {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      .add-new-note__icon {
        color: #fff;
      }
    }
    .add-new-note__icon {
      font-size: 40px;
      color: #000;
      transition: all 0.3s ease-in-out;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  &--active {
    width: 100%;
  }
}