.add-new-note {
  position: sticky;
  right: 0;
  left: 100%;
  bottom: 5px;
  z-index: 40;
  &--not-active {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      .add-new-note__icon {
        color: #fff;
      }
    }
    .add-new-note__icon {
      font-size: 40px;
      color: #000;
      transition: all 0.3s ease-in-out;
      background-color: transparent;
      border: none;
      cursor: pointer;
      
    }
    @media screen and (max-width: 768px){
      border: 1px solid rgb(187, 187, 187);
    }
  }
  &--active {
    width: 100%;
  }
}

.change-status {
  &__button {
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgba(79, 238, 79, 0.7);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 20;
    &:after {
      content: '';
      display: block;
      width: 12px;
      width: 100%;
      height: 10px;
      background-position-x: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' zoomAndPan='magnify' viewBox='0 0 30 30.000001' height='40' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3CclipPath id='id1'%3E%3Cpath d='M 2.328125 4.222656 L 27.734375 4.222656 L 27.734375 24.542969 L 2.328125 24.542969 Z M 2.328125 4.222656 ' clip-rule='nonzero' fill='white'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23id1)'%3E%3Cpath fill='white' d='M 27.5 7.53125 L 24.464844 4.542969 C 24.15625 4.238281 23.65625 4.238281 23.347656 4.542969 L 11.035156 16.667969 L 6.824219 12.523438 C 6.527344 12.230469 6 12.230469 5.703125 12.523438 L 2.640625 15.539062 C 2.332031 15.84375 2.332031 16.335938 2.640625 16.640625 L 10.445312 24.324219 C 10.59375 24.472656 10.796875 24.554688 11.007812 24.554688 C 11.214844 24.554688 11.417969 24.472656 11.566406 24.324219 L 27.5 8.632812 C 27.648438 8.488281 27.734375 8.289062 27.734375 8.082031 C 27.734375 7.875 27.648438 7.679688 27.5 7.53125 Z M 27.5 7.53125 ' fill-opacity='1' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.edit-content {
  &__button {
    position: absolute;
    top: 0;
    right: 48px;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(206, 201, 56,0.7);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 20;
    &:after {
      content: '';
      display: block;
      width: 12px;
      width: 100%;
      height: 10px;
      background-position-x: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 494.936 494.936' xml:space='preserve' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpath d='M389.844,182.85c-6.743,0-12.21,5.467-12.21,12.21v222.968c0,23.562-19.174,42.735-42.736,42.735H67.157 c-23.562,0-42.736-19.174-42.736-42.735V150.285c0-23.562,19.174-42.735,42.736-42.735h267.741c6.743,0,12.21-5.467,12.21-12.21 s-5.467-12.21-12.21-12.21H67.157C30.126,83.13,0,113.255,0,150.285v267.743c0,37.029,30.126,67.155,67.157,67.155h267.741 c37.03,0,67.156-30.126,67.156-67.155V195.061C402.054,188.318,396.587,182.85,389.844,182.85z'%3E%3C/path%3E%3Cpath d='M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069 c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963 c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692 C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107 l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005 c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}
