.add-new-note {
  position: sticky;
  right: 0;
  left: 100%;
  bottom: 5px;
  z-index: 40;
  &--not-active {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      .add-new-note__icon {
        color: #fff;
      }
    }
    .add-new-note__icon {
      font-size: 40px;
      color: #000;
      transition: all 0.3s ease-in-out;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    @media screen and (max-width: 768px) {
      border: 1px solid rgb(187, 187, 187);
    }
  }
  &--active {
    width: 100%;
  }
}
.show-all {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-60%);
  z-index: 40;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @media screen and (max-width: 768px){
    right: 50px;
  }
  &__button {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512 480.83'%0A%3E%3Cpath fill='%23fff' d='M380.38 368.78c9.9 0 18.9 4.04 25.39 10.53a35.841 35.841 0 0 1 10.51 25.39c0 9.88-4.03 18.87-10.51 25.36a35.769 35.769 0 0 1-25.39 10.53c-9.89 0-18.86-4.02-25.37-10.53-6.51-6.49-10.54-15.48-10.54-25.36 0-9.9 4.02-18.88 10.53-25.38 6.53-6.53 15.49-10.54 25.38-10.54zm-149.46 84.43H31.51c-8.59 0-16.53-3.57-22.25-9.29C3.58 438.24 0 430.38 0 421.7V31.51C0 22.89 3.54 15.02 9.24 9.3l.06-.06C15.05 3.53 22.9 0 31.51 0h383.58c8.62 0 16.48 3.6 22.18 9.3 5.75 5.7 9.32 13.64 9.32 22.21v279.43c-9.73-3.41-19.66-6.14-29.71-8.14V31.51c0-.42-.23-.87-.6-1.23-.3-.36-.73-.56-1.19-.56H31.51c-.51 0-.96.19-1.25.48l-.06.06c-.29.29-.48.74-.48 1.25V421.7c0 .43.22.87.56 1.21.35.35.8.58 1.23.58h172.24c1.31 2.38 2.89 4.67 4.74 6.84 6.96 8.14 14.46 15.78 22.43 22.88zm-86.19-339.84h215.33c1.25 0 2.29 1.11 2.29 2.31v28.55c0 1.2-1.11 2.3-2.29 2.3H144.73c-1.17 0-2.29-1.03-2.29-2.3v-28.55c0-1.27 1.04-2.31 2.29-2.31zm0 193.81h175.5c-6.18 1.83-12.36 3.98-18.53 6.45-12.14 4.87-30.93 14.61-49.13 26.71H144.73c-1.19 0-2.29-1.04-2.29-2.3v-28.57a2.31 2.31 0 0 1 2.29-2.29zm-41.44-2.46c10.51 0 19.04 8.53 19.04 19.04 0 10.52-8.53 19.04-19.04 19.04s-19.04-8.52-19.04-19.04c0-10.51 8.53-19.04 19.04-19.04zm41.44-94.62h215.33c1.25 0 2.29 1.08 2.29 2.3v28.55c0 1.22-1.08 2.31-2.29 2.31H144.73c-1.2 0-2.29-1.04-2.29-2.31V212.4c0-1.27 1.04-2.3 2.29-2.3zm-41.44-2.46c10.51 0 19.04 8.52 19.04 19.03 0 10.52-8.53 19.05-19.04 19.05s-19.04-8.53-19.04-19.05c0-10.51 8.53-19.03 19.04-19.03zm0-96.73c10.51 0 19.04 8.53 19.04 19.04s-8.53 19.04-19.04 19.04-19.04-8.53-19.04-19.04 8.53-19.04 19.04-19.04zm147.84 287.63c31.66-38.28 72.71-68.93 123.86-69.99 54.28-1.13 99.43 31.28 134.78 70.13a8.601 8.601 0 0 1 .48 10.97c-29.89 42.16-77.07 70.86-129.62 71.17-54.09.31-96.84-29.45-130.01-71.02-2.7-3.4-2.4-8.22.51-11.26zm20.4 5.97c29.66 34.5 62.8 56.44 109.03 56.18 44.37-.26 82.11-20.95 108.74-55.59-31.3-32.69-67.27-57.4-113.97-56.44-43.66.92-75.76 23.96-103.8 55.85zm98.73-28.79c7.7 0 13.92 6.24 13.92 13.93 0 7.69-6.22 13.93-13.92 13.93-7.68 0-13.92-6.24-13.92-13.93 0-7.69 6.24-13.93 13.92-13.93z' /%3E%3C/svg%3E%0A");
    }
    &:hover {
      color: #fff;
    }
  }
}

.change-status {
  &__button {
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgba(79, 238, 79, 0.7);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 20;
    &:after {
      content: '';
      display: block;
      width: 12px;
      width: 100%;
      height: 10px;
      background-position-x: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' zoomAndPan='magnify' viewBox='0 0 30 30.000001' height='40' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3CclipPath id='id1'%3E%3Cpath d='M 2.328125 4.222656 L 27.734375 4.222656 L 27.734375 24.542969 L 2.328125 24.542969 Z M 2.328125 4.222656 ' clip-rule='nonzero' fill='white'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23id1)'%3E%3Cpath fill='white' d='M 27.5 7.53125 L 24.464844 4.542969 C 24.15625 4.238281 23.65625 4.238281 23.347656 4.542969 L 11.035156 16.667969 L 6.824219 12.523438 C 6.527344 12.230469 6 12.230469 5.703125 12.523438 L 2.640625 15.539062 C 2.332031 15.84375 2.332031 16.335938 2.640625 16.640625 L 10.445312 24.324219 C 10.59375 24.472656 10.796875 24.554688 11.007812 24.554688 C 11.214844 24.554688 11.417969 24.472656 11.566406 24.324219 L 27.5 8.632812 C 27.648438 8.488281 27.734375 8.289062 27.734375 8.082031 C 27.734375 7.875 27.648438 7.679688 27.5 7.53125 Z M 27.5 7.53125 ' fill-opacity='1' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.edit-content {
  &__button {
    position: absolute;
    top: 0;
    right: 48px;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(206, 201, 56, 0.7);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 20;
    &:after {
      content: '';
      display: block;
      width: 12px;
      width: 100%;
      height: 10px;
      background-position-x: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 494.936 494.936' xml:space='preserve' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpath d='M389.844,182.85c-6.743,0-12.21,5.467-12.21,12.21v222.968c0,23.562-19.174,42.735-42.736,42.735H67.157 c-23.562,0-42.736-19.174-42.736-42.735V150.285c0-23.562,19.174-42.735,42.736-42.735h267.741c6.743,0,12.21-5.467,12.21-12.21 s-5.467-12.21-12.21-12.21H67.157C30.126,83.13,0,113.255,0,150.285v267.743c0,37.029,30.126,67.155,67.157,67.155h267.741 c37.03,0,67.156-30.126,67.156-67.155V195.061C402.054,188.318,396.587,182.85,389.844,182.85z'%3E%3C/path%3E%3Cpath d='M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069 c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963 c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692 C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107 l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005 c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}
